langchain
langchain-community
langchain-core
langchain-qdrant
langchain-ollama
qdrant-client
cohere
sentence-transformers
pypdf
presidio-analyzer
presidio-anonymizer
spacy
langgraph
langsmith
fastapi
uvicorn
chainlit
python-dotenv
pandas